<footer>
    &copy; Derechos Reservados 2021-2
    <a href="http://www.ulima.edu.pe">Universidad de Lima</a>
    <a href="mailto:webmaster@correo.ulima.edu.pe">Correo</a>
    <details>
        <summary>En este ejemplo solo utilizamos: </summary>
        <p>GET</p>
        <p>POST</p>
    </details>
</footer>