/*
Hoja de estilos externa
*/

header {
    background-color: brown;
}

nav {
    background-color: yellow;
}

section {
    background-color: #FFABCD;
}

aside {
    background-color: tomato;
}

footer {
    background-color: black;
}