/*
SELECTORES
clase   .nombre-de-la-clase   class="nombre-de-la-clase"
id      #nombre-del-id        id="nombre-de-id"
*/

#cabeceraprincipal {
    background-image: url("../img/logo1.png"), url("../img/avengers.jpg");
    background-position: top left, 100% center;
    background-repeat: no-repeat, repeat;
    background-origin: border-box, content-box;
    color:  white;
    height: min-content;
}

/*
Sombras de texto
*/
h1 {
    text-shadow: -5px 4px 6px gray;
    font-size: 400%;
}

/*
Redondear bordes
*/
header {
    border: 3px solid red;
    border-radius: 15px;
    padding: 5px 20px;
    background: orange;
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    border: 3px solid blue;
    border-radius: 50px;
    /*background-color: rgba(150,200,230,0.1);*/
    background-color:  hsla(58,90%,80%,0.93);
}

footer {
    background-color: rgb(100,50,200);
    color: white;
    text-align: center;
}

/*
Colores
http://www.workwithcolor.com
nombre
rgb rgba
hsl hsla
*/

/*
sombra a la imagen
*/
img {
    box-shadow: 25px 25px 10px darkgray;
}

/*
Animacion
*/
img {
    position: relative;
    animation: movimiento linear 10s 2 1s;
}

@keyframes movimiento {
    0% { opacity: 0; left: 50px; top:0px; }
    25% { opacity: 1; left: 0px; top:50px; }
    50% { opacity: 0; left: 50px; top:100px; }
    75% { opacity: 1; left: 100px; top:50px; }
    100% { opacity: 0; left: 50px; top:0px; }

}

/*
Zona de navegacion horizontal
*/
nav ul {
    list-style: none;
    padding: 1px;
    display: block;
    clear: right;
    background-color: yellow;
    height: 24px;

}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: red;
}
