
<h1>Bienvenido Avenger !</h1>
<p>El alumno de la Carrera de Ingeniería de Sistemas es un <sub>AVENGER</sub> y está preparado para afrontar los retos y las exigencias de las organizaciones, gracias a su capacidad para integrar los procesos de negocios y de proponer, desarrollar, implementar y gestionar soluciones basadas en tecnologías de información.</p>
