<footer>
    &copy; Derechos Reservados 2021-2
    <a href="http://www.ulima.edu.pe">Universidad de Lima</a>
    <a href="mailto:webmaster@correo.ulima.edu.pe">Correo</a>
    <details>
        <summary>Dos conocidas editoriales de Comics </summary>
        <p>Marvel</p>
        <p>DC Comics</p>
    </details>
</footer>